.container{
  margin-bottom: 50px;
}
.page {
  padding: 2rem;
  margin-bottom: 50px
}
.metrics {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}
.card {
  background: #fff;
  padding: 1rem;
  border-radius: 10px;
  flex: 1;
  text-align: center;
}
  .box{
  background: linear-gradient(135deg, #0a2e65, #1b74e4);
  color: white;
  transition: all 0.3s ease;
  cursor: pointer;
  }
 



.card p{
  font-weight: bold;
  text-align: center;
  font-size: 1.2rem;
}
table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}
th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.card.shadow{
  margin-bottom:20px;
}