
.page {
  padding: 2rem;
}
.metrics {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}
.card {
  background: #f0f4f8;
  padding: 1rem;
  border-radius: 10px;
  flex: 1;
  text-align: center;
}
.card p{
  font-weight: bold;
  color: red;
  text-align: center;
  font-size: 1.2rem;
}
table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}
th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

