/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/dist/css/bootstrap.min.css';
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import "../node_modules/swiper/swiper.min.css";

a {
  text-decoration: none;
  color: inherit;
}
<<<<<<< HEAD

body, html {
font-family: 'Poppins', sans-serif;
=======
/* You can add global styles to this file, and also import other style files */

body,
html {
  font-family: "Poppins", sans-serif;
>>>>>>> 923bb6463914ae4ca3679312499815019e0c8279
  margin: 0;
  padding: 0;
  height: 100%;
}

.text-gradient {
  background: linear-gradient(90deg, #007bff, #00c6ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.table-row-hover:hover {
  background-color: #f1f9ff !important;
  transition: background 0.2s;
}
.table {
  border-radius: 0.75rem;
  overflow: hidden;
}
