/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
a{
    text-decoration: none;
    color: inherit;
}
/* You can add global styles to this file, and also import other style files */
@import "../node_modules/swiper/swiper.min.css";


body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}
